@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  /* colors */
  --color-text: #2D2A26;
  --color-text-white: #FCF9F6;
  --color-text-grey: #646464;
  --color-gold: #BB8A47;
  --card-bg: #F2EDE7;
  --bg: #F7F1EA;
  --border-color: #D5D1Ca;

  /* fonts */
  --header-font: 'Playfair Display', Georgia, Galasio;
  --main-font: Inter, Roboto;

  --btn-border-radius: 3px;
}

* {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  color: var(--color-text);
  background-color: var(--bg);
  font-family: var(--main-font);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--color-text);
}

button {
  cursor: pointer;
}

.gold {
  color: var(--color-gold);
}