.dashboard-user-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 1rem;
  text-align: center;
}

.dashboard-stat-item {
  border-right: 1px solid var(--border-color);
  align-content: center;
}

.dashboard-stat-item:last-child {
  border-right: none;
}

.stat-number {
  font-family: var(--header-font);
  color: var(--color-gold);
  font-size: 2rem;
  font-weight: 700;
  margin-right: 0.5rem;
}

.stat-name {
  font-size: 0.9rem;
  color: var(--color-text-grey);
}

.dashboard-two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.dashboard-left-column,
.dashboard-right-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* LEFT COLUMN */

.dashboard-recent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dashboard-recent-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-recent-header a {
  font-size: 0.8rem;
}


/* RIGHT COLUMN */
.dashboard-quick-add {
  border: 1px solid var(--border-color);
  border-radius: 3px;
  background-color: var(--bg-light-grey);
  padding: 1rem;
}

.dashboard-quick-add h2 {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.dashboard-quick-add-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  font-size: 0.8rem;
}





/* MEDIA QUERIES */
@media (max-width: 768px) {
  .dashboard-user-stats {
    grid-template-columns: 1fr 1fr;
  }

  .dashboard-stat-item:nth-child(2) {
    border-right: none;
  }

  .dashboard-two-column {
    grid-template-columns: 1fr;
  }
}