.dashboard-user-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 1rem;
  text-align: center;
}

.dashboard-stat-item {
  border-right: 1px solid var(--border-color);
  align-content: center;
}

.dashboard-stat-item:last-child {
  border-right: none;
}

.stat-number {
  font-family: var(--header-font);
  color: var(--color-gold);
  font-size: 2rem;
  font-weight: 700;
  margin-right: 0.5rem;
}

.stat-name {
  font-size: 0.9rem;
  color: var(--color-text-grey);
}

.dashboard-two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.dashboard-left-column,
.dashboard-right-column {
  display: flex;
  flex-direction: column;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .dashboard-user-stats {
    grid-template-columns: 1fr 1fr;
  }

  .dashboard-stat-item:nth-child(2) {
    border-right: none;
  }

  .dashboard-two-column {
    grid-template-columns: 1fr;
  }
}