.artist-card {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  width: 250px;

  background-color: var(--card-bg);
  border: 1.5px solid var(--border-color);
  border-radius: 3px;

  padding: 0.8rem;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

  transition: transform 0.2s ease;
}

.artist-card:hover {
  transform: translateY(-5px);
}

.example-artwork {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 3px;
}

.artist-name {
  font-weight: 700;
  font-size: 0.9rem;
}

.artist-dates {
  color: var(--color-text-grey);
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color);
}

.view-artworks-link {
  color: var(--color-text-white);
  background-color: var(--color-gold);
  /* width: fit-content; */

  border: 1px solid transparent;

  text-align: center;
  
  padding: 0.5rem;
  border-radius: var(btn-border-radius);

  font-size: 0.8rem;
}

.view-artworks-link:hover {
  background-color: transparent;
  color: var(--color-gold);
  border: 1px solid var(--color-gold);
}