.artwork-card {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: var(--card-bg);
  border: 1.5px solid var(--border-color);
  border-radius: 3px;
  padding: 0.8rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.artwork-card:hover {
  transform: translateY(-5px);
}

.artwork-image {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 3px;
}

.artwork-title {
  font-weight: 700;
  font-size: 0.9rem;
  font-family: var(--header-font);
}

.artwork-year, .artwork-medium {
  color: var(--color-text-grey);
  font-size: 0.8rem;
}

.artwork-medium {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color);
}

.view-details-link {
  color: var(--color-text-white);
  background-color: var(--color-gold);
  border: 1px solid transparent;
  text-align: center;
  padding: 0.5rem;
  border-radius: var(--btn-border-radius);
  font-size: 0.8rem;
  transition: background-color 0.2s ease
}

.view-details-link:visited {
  color: var(--color-text-white);
}

.view-details-link:hover {
  background-color: transparent;
  color: var(--color-gold);
  border: 1px solid var(--color-gold);
  transition: background-color 0.2s ease;
}