.artwork-title {
  font-weight: 700;
  font-size: 0.9rem;
  font-family: var(--header-font);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
}

.artwork-artist {
  color: var(--color-gold);
  transition: opacity 0.2s ease;
}

.artwork-artist:visited {
  color: var(--color-gold);
}

.artwork-artist:hover {
  opacity: 0.8;
}

.artwork-year, .artwork-medium {
  color: var(--color-text-grey);
  font-size: 0.8rem;
}

.artwork-medium {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color);
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}