.footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 0.8rem;
  gap: 0.5rem;
  color: var(--color-text-grey);
  transition: opacity 0.2s ease;
}

.footer > a {
  color: var(--color-gold);
}

.footer > a:hover {
  opacity: 0.8;
}