.modal {
  border: 1px solid var(--border-color);
  border-radius: 3px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background-color: var(--bg);
  padding: 0;
  width: 90%;
  max-width: 600px;
}

.modal-container {
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid var(--border-color);
  padding: 1rem;
}

.modal-header h1 {
  font-size: 1.5rem;
}

.modal-x-btn {
  background-color: transparent;
  border: none;
  color: var(--color-gold);
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.modal-form label {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 0.4rem;
}

.modal-form input, .modal-form select {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 3px;
}

.modal-dual-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "blabel dlabel"
    "binput dinput"
  ;
  max-width: 100%;
}

.modal-dual-input > *:nth-child(1) {
  grid-area: blabel;
}

.modal-dual-input > *:nth-child(2) {
  grid-area: binput;
}

.modal-dual-input > *:nth-child(3) {
  grid-area: dlabel;
  margin-left: 0.5rem;
}

.modal-dual-input > *:nth-child(4) {
  grid-area: dinput;
  margin-left: 0.5rem;
}

.modal-form textarea {
  margin-bottom: 0.5rem;
  max-width: 100%;
  resize: none;
}

.modal-btn-container {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  margin-top: 1rem;
}

.artwork-form-search-artist {
  display: flex;
  flex-direction: column;
  position: relative;
}

.artwork-form-search-artist input {
  margin-bottom: none;
}

.artwork-form-search-artist ul {
  border: 1px solid var(--color-gold);
  border-radius: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.artwork-form-search-artist li {
  background-color: var(--input-bg-color);
  list-style: none;
  border-bottom: 1px solid var(--border-color);
  padding: 0.5rem;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border-radius: 3px;
}

.artist-list-item-year {
  font-size: 0.8rem;
  color: var(--color-text-grey);
}

.artwork-form-search-artist li:hover {
  background-color: var(--bg);
  cursor: pointer;
}