.layout {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);
  border: 1.5px solid var(--border-color);
  border-radius: 2px;
  max-width: 1280px;
  flex-grow: 1;
  margin: 2rem;
  margin-inline: max(2rem, (100% - 1280px) / 2);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.main-content {
  flex: 1;
  padding: 2rem;
}