header {
  border-bottom: 1.5px solid var(--border-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  text-wrap: nowrap;
}

.nav-logo-container {
  flex: 1;
}

.title {
  font-size: 1.4rem;
  font-family: var(--header-font);
  font-weight: 600;
}

.nav-links-container {
  display: flex;
  gap: 1.5rem;
  font-size: 0.9rem;
  flex: 1;
}

.nav-links-container a, .drawer-nav-links a {
  color: var(--color-text-grey);
}

.nav-links-container > a.active {
  text-decoration: underline 2px var(--color-gold);
  text-underline-offset: 0.5rem;
  color: var(--color-text);
}

.mobile-drawer, .nav-profile-mobile {
  display: none;
}

.nav-profile-container {
  display: flex;
  gap: 1rem;
  font-weight: 700;
  font-size: 0.9rem;
  align-items: center;
  justify-content: end;
  flex: 1;
}

.logout-btn {
  padding: 0.5rem 0.8rem;
  background-color: transparent;
  border: 1px solid var(--color-gold);
  color: var(--color-gold);
  border-radius: 2px;
}

.logout-btn:hover, .logout-btn:focus {
  background-color: var(--color-gold);
  color: var(--color-text-white);
}

.burger-btn {
  display: none;
}

@media (max-width: 980px) {
  .burger-btn {
    display: block;
    background-color: transparent;
    border: none;
    color: var(--color-gold);
  }

  .nav-profile-container {
    display: none;
  }

  .nav-links-container {
    display: none;
  }

  .mobile-drawer {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
  }

  .drawer-nav-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 1rem;
  }

  .drawer-nav-links a {
    border-bottom: 1.5px solid var(--border-color);
    padding: 0.5rem;
    width: 100%;
  }

  .drawer-nav-links > a.active {
    text-decoration: underline 2px var(--color-gold);
    color: var(--color-text);
    text-underline-position: under;
  }

  .nav-profile-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1.5rem;
  }

  .drawer-nav-links > .last {
    border: none;
  }
  
}