.page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.page-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid var(--border-color);
  padding-bottom: 0.5rem;
  align-items: center;
}

.detail-page-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1.5px solid var(--border-color);
  padding-bottom: 0.5rem;
  align-items: start;
}

.back-link {
  color: var(--color-gold);
  font-size: 0.8rem;
  transition: opacity 0.2s ease;
}

.back-link:visited {
  color: var(--color-gold);
}

.back-link:hover {
  opacity: 0.8;
}

.page-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem;
}

/* CARD */
.card {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: var(--card-bg);
  border: 1.5px solid var(--border-color);
  border-radius: 3px;
  padding: 0.8rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
}

.card-image {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 3px;
}

.card-name {
  font-weight: 700;
  font-size: 0.9rem;
  font-family: var(--header-font);
}


/* BUTTONS */
.gold-link-btn {
  color: var(--color-text-white);
  background-color: var(--color-gold);
  border: 1px solid transparent;
  text-align: center;
  padding: 0.5rem;
  border-radius: var(--btn-border-radius);
  font-size: 0.8rem;
  transition: color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease
}

.gold-link-btn:visited {
  color: var(--color-text-white);
}

.gold-link-btn:hover {
  background-color: transparent;
  color: var(--color-gold);
  border: 1px solid var(--color-gold);
}

.gold-outline-btn {
  padding: 0.5rem 0.8rem;
  background-color: transparent;
  border: 1px solid var(--color-gold);
  color: var(--color-gold);
  border-radius: var(--btn-border-radius);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.gold-outline-btn:visited {
  color: var(--color-gold);
}

.gold-outline-btn:hover {
  background-color: var(--color-gold);
  color: var(--color-text-white);
}

.view-more-btn {
  background-color: var(--color-gold);
  color: var(--color-text-white);
  border: none;
  border-radius: var(--btn-border-radius);
  align-self: center;
  padding: 0.5rem;
  transition: transform 0.2s ease;
}

.view-more-btn:hover {
  transform: translateY(-3px);
}

.disabled-btn {
  cursor: not-allowed;
  opacity: 0.8;
}